/* Global CSS, Tailwind boilerplate. */

@import "tailwindcss";

@theme {
  --color-underlying-bg: var(--color-stone-50);
  --color-section-bg: var(--color-stone-200);
  --color-well: var(--color-stone-50);
}
