/* Global CSS, Tailwind boilerplate. */

@import "tailwindcss";

/* Restore prior Tailwind behavior of `cursor: pointer` on buttons. */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@theme {
  --color-underlying-bg: var(--color-stone-50);
  --color-section-bg: var(--color-stone-200);
  --color-well: var(--color-stone-50);
}
